<h3 class="ek-label-primary" mat-dialog-title>Add New Account</h3>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formModel">
    <mat-form-field hintLabel="Use letters, characters, or underscores." style="width: 400px;">
      <input matInput placeholder="Enter new account name (can be changed later)" [formControl]="accountName">
      <mat-error *ngIf="accountName.hasError('accountNameUnique')">
        Account name in use, please choose another.
      </mat-error>
    </mat-form-field>
    <br><br><br>
    <mat-form-field style="width: 400px;">
      <mat-select placeholder="Account type (can not be changed later)" [formControl]="accountType">
        <mat-option [value]="'CHARACTER'">
          CHARACTER
        </mat-option>
        <mat-option [value]="'CORPORATION'">
          CORPORATION
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!accountType.valid">
        Please choose an account type.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!formModel.valid">Save</button>
</mat-dialog-actions>
