<h3 class="ek-label-primary" mat-dialog-title>{{account.characterType ? 'Character' : 'Corporation'}} ESI Scopes</h3>
<mat-dialog-content class="mat-typography">
  <div class="ek-tbl" style="width: 100%;">
    <div class="ek-tbl-row" *ngFor="let scope of esiScopePairs">
      <div class="ek-tbl-cell" style="white-space: nowrap;">
        <b>{{scope.name}}</b>
      </div>
      <div class="ek-tbl-cell" style="white-space: nowrap; padding-left: 10px;">
        {{scope.description}}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: center;">
  <button mat-button (click)="ok()">OK</button>
</mat-dialog-actions>
