<div style="position: relative; margin: 10px;">
  <div class="light-corner-upper-left"></div>
  <div class="light-corner-upper-right"></div>

  <div class="mat-typography" style="padding: 20px;">
    <div style="padding-top: 5px;">
    <span style="font-family: 'Orbitron', sans-serif; font-weight: bold;">
      Notifications Manager
    </span>

      <div style="display: inline-block; float: right;">
        <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
          <button *ngFor="let user of userList"
                  mat-menu-item
                  (click)="selectUser(user)">
            {{ makeDisplayableUser(user) }}
          </button>
        </mat-menu>

        <button mat-raised-button
                color="primary"
                [matMenuTriggerFor]="userMenu">
          {{ selectedUser === null ? 'Select User' : makeDisplayableUser(selectedUser) }}
          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <button mat-button
                color="accent"
                (click)="createNote()"
                matTooltip="Create Note">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <table mat-table [dataSource]="notesDataSource">

      <!--- column definitions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <button mat-icon-button
                  (click)="delete(element)"
                  matTooltip="Delete Note">
            <mat-icon>delete</mat-icon>
          </button>&nbsp;
        </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef style="white-space: nowrap;">&nbsp;&nbsp;Time</th>
        <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
          &nbsp;&nbsp;{{element.time | date:'yyyy-MM-dd HH:mm:ss':'UTC'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef style="white-space: nowrap">&nbsp;&nbsp;Content</th>
        <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
        <span [class]="noteClass(element)">
          &nbsp;&nbsp;{{element.content}}
        </span>
        </td>
      </ng-container>

      <!-- render rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
