<div fxLayout="row wrap" fxLayoutAlign="start stretch" style="padding-top: 10px;">
  <div fxFlex="575px" style="position: relative; margin-bottom: 20px;">
    <div class="light-corner-upper-left"></div>
    <app-admin-props-system></app-admin-props-system>
    <div class="light-corner-upper-right"></div>
  </div>
  &nbsp;
  <div fxFlex="575px" style="position: relative; margin-bottom: 20px;">
    <div class="light-corner-upper-left"></div>
    <app-admin-props-user></app-admin-props-user>
    <div class="light-corner-upper-right"></div>
  </div>
</div>
