@import '~@angular/material/theming';
// Plus imports for other components in your app.

//$mat-amber: (
//  50: #fff8e1,
//  100: #ffecb3,
//  200: #ffe082,
//  300: #ffd54f,
//  400: #ffca28,
//  500: #ffc107,
//  600: #ffb300,
//  700: #ffa000,
//  800: #ff8f00,
//  900: #ff6f00,
//  A100: #ffe57f,
//  A200: #ffd740,
//  A400: #ffc400,
//  A700: #ffab00,
//  contrast: (
//    50: $dark-primary-text,
//    100: $dark-primary-text,
//    200: $dark-primary-text,
//    300: $dark-primary-text,
//    400: $dark-primary-text,
//    500: $dark-primary-text,
//    600: $dark-primary-text,
//    700: $dark-primary-text,
//    800: $dark-primary-text,
//    900: $dark-primary-text,
//    A100: $dark-primary-text,
//    A200: $dark-primary-text,
//    A400: $dark-primary-text,
//    A700: $dark-primary-text,
//  )
//);

// EveKit color palette
$evekit-primary-cp1: (
  50 : #e1e7ed,
  100 : #b5c3d2,
  200 : #849cb4,
  300 : #527495,
  400 : #2d567f,
  500 : #083868,
  600 : #073260,
  700 : #062b55,
  800 : #04244b,
  900 : #02173a,
  A100 : #7099ff,
  A200 : #3d75ff,
  A400 : #0a50ff,
  A700 : #0044f0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$evekit-accent-cp1: (
  50 : #ebe1e1,
  100 : #ccb4b3,
  200 : #ab8381,
  300 : #89514e,
  400 : #6f2b28,
  500 : #560602,
  600 : #4f0502,
  700 : #450401,
  800 : #3c0301,
  900 : #2b0201,
  A100 : #ff6565,
  A200 : #ff3232,
  A400 : #fe0000,
  A700 : #e50000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// If we want to change the font, we need to change it here, then include it in mat-core.
$general-typography: mat-typography-config(
  $font-family: '"Open Sans", sans-serif'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($general-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$evekit-default-primary: mat-palette($evekit-primary-cp1, 500, 200, 700);
$evekit-default-accent: mat-palette($evekit-accent-cp1);

// The warn palette is optional (defaults to red).
$evekit-default-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$evekit-light-theme: mat-light-theme($evekit-default-primary, $evekit-default-accent, $evekit-default-warn);
$evekit-dark-theme: mat-dark-theme($evekit-default-primary, $evekit-default-accent, $evekit-default-warn);

// Second accent color palette
$evekit-second-accent: mat-palette($mat-brown);

// Tweak the dark theme here

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($evekit-light-theme);

// Tab bar styling
//.mat-tab-nav-bar {
//  background-color: mat-color($evekit-default-primary, lighter);
//}

//.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//  background-color: mat-color($evekit-default-accent);
//}

// Styling for various types of labels
.ek-label {
  padding: 5px;
  border-radius: 5px;
}

.ek-small-label {
  padding: 2px;
  border-radius: 4px;
}

.ek-label-primary {
  color: mat-color($evekit-default-primary);
}

.ek-label-bk-primary {
  color: mat-color($evekit-default-primary, default-contrast);
  background: mat-color($evekit-default-primary);
}

.ek-label-accent {
  color: mat-color($evekit-default-accent);
}

.ek-label-bk-accent {
  color: mat-color($evekit-default-accent, default-contrast);
  background: mat-color($evekit-default-accent);
}

.ek-label-warn {
  color: mat-color($evekit-default-warn);
}

.ek-label-bk-warn {
  color: mat-color($evekit-default-warn, default-contrast);
  background: mat-color($evekit-default-warn);
}

.ek-label-accent2 {
  color: mat-color($evekit-second-accent);
}

.ek-label-ok {
  color: green;
}

.ek-label-bk-accent2 {
  color: mat-color($evekit-second-accent, default-contrast);
  background: mat-color($evekit-second-accent);
}

// Link styling
a {
  color: mat-color($evekit-default-primary, lighter);
}

a:visited {
  color: mat-color($evekit-default-accent, lighter);
}

a.tab-menu {
  color: mat-color($evekit-default-primary, default-contrast);
}

// Card customizations
.mat-card-isolated {
  margin: 10px;
  .mat-card-header {
    color: mat-color($evekit-default-primary, default-contrast);
    background: mat-color($evekit-default-primary);
  }
}
