<div class="mat-typography" style="padding: 10px;">
  <div style="padding-top: 5px; padding-bottom: 20px;">
    <span style="font-family: 'Orbitron', sans-serif; font-weight: bold;">
      News and Updates
    </span>
  </div>
  <div *ngFor="let entry of blogEntries" style="position: relative;">
    <div class="list-corner-upper-left"></div>
    <div style="display: table; padding-left: 10px; padding-right: 10px; margin-bottom: 10px;">
      <div style="display: table-row;">
        <div style="display: table-cell; padding-top: 5px;">
          <div style="display: table; width: 100%;">
            <div style="display: table-row;">
              <div style="display: table-cell; width: 100%; font-weight: bold;">
                <a href="{{entry.link.toString()}}" target="_blank">
                  {{entry.title}}
                </a>
              </div>
              <div style="display: table-cell; white-space: nowrap;">
                <b>{{entry.entryDate|date:'yyyy-MM-dd':'UTC'}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: table-row">
        <div style="display: table-cell; padding-left: 10px;">
          <p [innerHTML]="sanitize(entry.detail)"></p>
        </div>
      </div>
    </div>
    <div class="list-corner-lower-left"></div>
  </div>
</div>
