<div fxLayout="row wrap" fxLayoutAlign="start stretch" style="padding-top: 10px;">
  <div fxFlex="575px" style="position: relative; margin-bottom: 20px;">
    <div class="light-corner-upper-left"></div>
    <app-welcome></app-welcome>
    <div class="light-corner-upper-right"></div>
  </div>
  &nbsp;
  <div fxFlex="575px" style="position: relative; margin-bottom: 20px;">
    <div class="light-corner-upper-left"></div>
    <app-blog-list></app-blog-list>
    <div class="light-corner-upper-right"></div>
  </div>
</div>
