<div fxLayout="row wrap" fxLayoutAlign="start stretch" style="padding-top: 10px;">
  <div fxFlex="600px">
    <div style="position: relative; margin-bottom: 30px;">
      <div class="light-corner-upper-left"></div>
      <app-summary></app-summary>
      <div class="light-corner-upper-right"></div>
    </div>
    <div style="position: relative; margin-bottom: 20px;">
      <div class="light-corner-upper-left"></div>
      <app-access-keys></app-access-keys>
      <div class="light-corner-upper-right"></div>
    </div>
  </div>
  &nbsp;
  <div fxFlex="600px" style="position: relative; margin-bottom: 20px;">
    <div class="light-corner-upper-left"></div>
    <app-sync-status></app-sync-status>
    <div class="light-corner-upper-right"></div>
  </div>
</div>
