.top-title {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.view-frame {
  position: relative;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
}
