<div style="float: left; margin-right: 5px;" *ngIf="!loading">
  <div>
    <button mat-icon-button matTooltip="Add Character" (click)="addCharactersDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <button mat-icon-button matTooltip="Refresh Skills" (click)="refreshMonitorList()" *ngIf="monitorList.length > 0">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div class="refresh-timer mat-typography" *ngIf="monitorList.length > 0">
    {{refreshTimer}}
  </div>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<mat-tab-group *ngIf="!loading"
               [selectedIndex]="selectedTab"
               (selectedTabChange)="updateRoute($event)">
  <mat-tab label="Overview">
    <p>
      This application allows you to monitor the skill queues of one or more characters.
      To get started, click on '+' to add a character from one of your synchronized accounts.
      Monitored characters will be removed from this application if an assigned access key is no longer
      available or has incorrect permissions.
    </p>
    <mat-grid-list cols="2" rowHeight="3:1" style="padding-top: 10px;">
      <mat-grid-tile *ngFor="let mm of monitorList" style="justify-content: flex-start;">
        <div class="list-corner-upper-left"></div>
        <app-skill-mon-character-summary
          style="padding-top: 10px; padding-left: 10px;"
          [account]="monitoredNames.get(mm.aid)"
          [kid]="mm.kid"
          [secondTimer]="secondTimer"
          [skillTree]="finalSkillTree">
        </app-skill-mon-character-summary>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab *ngFor="let mm of monitorList; let i = index">
    <ng-template mat-tab-label>
      <b>{{monitoredNames.get(mm.aid) ? monitoredNames.get(mm.aid).eveCharacterName : ''}}</b>
      <button mat-icon-button matTooltip="Remove" (click)="removeCharacter(mm)">
        <mat-icon style="font-size: 14px; text-align: right;">close</mat-icon>
      </button>
    </ng-template>
    <ng-template matTabContent>
      <app-skill-mon-character-view
        [account]="monitoredNames.get(mm.aid)"
        [kid]="mm.kid"
        [secondTimer]="secondTimer"
        [skillTree]="finalSkillTree"
        [selectedTab]="i + 1">
      </app-skill-mon-character-view>
    </ng-template>
  </mat-tab>
</mat-tab-group>
