/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

body {
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: Roboto, Arial, sans-serif;*/
  margin: 0;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
